header.header
	// Top row
	.header__dark-row
		.container.header__dark-row-container
			.lang.lang--white.header__lang
				span.lang__current Ru
				ul.menu-box.lang__list
					li.menu-box__elem.lang__elem.lang__elem--selected
						a.menu-box__link.lang__link(href="#") Ru
					li.menu-box__elem.lang__elem
						a.menu-box__link.lang__link(href="#") En
			nav.header__dark-row-nav.secondary-menu
				ul.secondary-menu__list
					li.secondary-menu__elem
						a.secondary-menu__link(href="#") Новости и блог
					li.secondary-menu__elem
						a.secondary-menu__link(href="#") Оплата и доставка
					li.secondary-menu__elem
						a.secondary-menu__link(href="#") Контакты
					li.secondary-menu__elem
						a.secondary-menu__link(href="#") Вакансии
			form.search-form.header__search-form(action="#")
				input.search-form__input(type="text", placeholder="Поиск...")
				button.search-form__submit(type="submit", aria-label="Search")
					span.search-form__icon
						+svg("search")
	.header__light-row
		.container.header__light-row-container
			a.header__logo-link(href="/")
				img.header__logo-image(src="images/logo.svg", alt="Intelion")
			.lang.header__lang.header__lang--on-light-row
				span.lang__current Ru
				ul.menu-box.lang__list
					li.menu-box__elem.lang__elem.lang__elem--selected
						a.menu-box__link.lang__link(href="#") Ru
					li.menu-box__elem.lang__elem
						a.menu-box__link.lang__link(href="#") En
			nav.header__light-row-nav.primary-menu
				ul.primary-menu__list
					li.primary-menu__elem
						a.primary-menu__link(href="#") Каталог
					li.primary-menu__elem.primary-menu__elem--with-sub-menu
						span.primary-menu__link Майнинг отель
							span.primary-menu__link-icon
								+svg("chevron-down")
						.primary-menu__sub-menu
							ul.menu-box.primary-menu__sub-list
								li.menu-box__elem.primary-menu__sub-elem
									a.menu-box__link.primary-menu__sub-link(href="#") Калининская АЭС
								li.menu-box__elem.primary-menu__sub-elem
									a.menu-box__link.primary-menu__sub-link(href="#") ПАО “Тулачермет”
					li.primary-menu__elem
						a.primary-menu__link(href="#") Лизинг
					li.primary-menu__elem
						a.primary-menu__link(href="#") О компании
			.contacts.header__contacts
				.contacts__phone-wrapper
					a.contacts__phone(href="tel:+74998774145") +7 (499) 877-41-45
				a.contacts__get-call(href="#") Заказать звонок
				a.contacts__messenger-link.contacts__messenger-link--telegram(href="https://telegram.me/USERNAME", title="telegram")
					span.contacts__icon
						+svg("telegram")
				a.contacts__messenger-link.contacts__messenger-link--whatsapp(href="https://wa.me/74998774145", title="whatsapp")
					span.contacts__icon
						+svg("whatsapp")
			a.header__shopping-cart.shopping-cart(href="#")
				.shopping-cart__icon-box
					.shopping-cart__icon
						+svg("shopping-bag")
					span.shopping-cart__counter 2
				span.shopping-cart__text Корзина
			button.header__show-menu-btn.js-show-menu(aria-label="Show menu")
				span.header__show-menu-btn-icon.header__show-menu-btn-icon--burger
					+svg("burger")
				span.header__show-menu-btn-icon.header__show-menu-btn-icon--cross
					+svg("cross")
include mobile-drawer.pug
