// Colors
$color-white: #fff;
$color-blue: #008EF8;
$color-blue-hover: #0081E1;
$color-dark-blue: #181A31;
$color-transparent: rgba(#fff, 0);

// Fonts
$font-primary: "Open Sans", sans-serif;

// Animations
$transition-default: 0.2s ease;

// Breakpoints
$tablet-min: 680px;
$desktop-min: 980px;

